head 
    title #{title || 'willjohnston.tech'} 
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=description ? description : 'willjohnston.tech')
    link(rel='icon' href='https://wjt.sfo2.cdn.digitaloceanspaces.com/wjt_logo.ico')
    link(rel='stylesheet' href='min.css')