html 
    head 
        title willjohnston.tech 
        link(rel='icon' href='https://wjt.sfo2.cdn.digitaloceanspaces.com/wjt_logo.ico')
        link(rel='stylesheet' href='min.css')
    body 
        h1 willjohnston.tech 
        p version: #{version}